{
    "mysql": {
        "dsn": "root:root@/beeketing-platform"
    },
    "redis": {
        "host": "localhost:6379",
        "password": "",
        "db": 0
    },
    "mongodb": {
        "url": "localhost:27017/beeketing-platform"
    },
    "rabbitmq": {
        "url": "amqp://guest:guest@localhost:5672/"
    },
    "log": {
        "output": "default"
    },
    "crons": {
        "ccart": "30s"
    }
}
